/.vs
src/JavaScriptClientNoBackend/bin
src/Api/bin
src/Api/obj
src/Client/bin
src/Client/obj
src/IdentityServer/bin
src/IdentityServer/obj
src/IdentityServerAspNetIdentity/bin
src/IdentityServerAspNetIdentity/obj
src/JavaScriptClient/bin
src/JavaScriptClient/obj
src/JavaScriptClientNoBackend/obj
src/WebClient/bin
src/WebClient/obj
src/JavaScriptClientNoBackend/node_modules
